

#menu {
    display: flex;
    justify-content: space-around;
    background-color: aqua;
    padding-left: 2em ;
    padding-right: 2em ;
    padding-top: 1em;
}

.element:nth-child(1)
{
    flex: 2;
    margin: auto;
}
.element:nth-child(2)
{
    flex: 1;
    background-color:blue;
    margin: auto;
    
}
.element:nth-child(3)
{
    flex: 1;
    background-color: rgb(59, 82, 38);
    margin: auto;
}
.element:nth-child(4)
{
    flex: 1;
    background-color: rgb(182, 139, 59);
    margin: auto;
}