body {
    padding-left: 2em ;
    padding-right: 2em ;
}

#menu {
    display: flex;
    justify-content: space-around;
    padding-top: 1em;
}

.element:nth-child(1)
{
    flex: 5;
    margin: auto;
}
.element:nth-child(2)
{
    flex: 1;
    margin: auto;
    
}
.element:nth-child(3)
{
    flex: 1;
    margin: auto;
}
.element:nth-child(4)
{
    flex: 1;
    margin: auto;
}

#Rechercher {   
    display: flex;
    align-items: center;
    
}

#Rechercher input{
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    background: #f1f1f1;
}

#Rechercher button{
    padding: 10px;
    font-size: 17px;
    color: white;
    border: 1px solid #0065FC;
    background: #0065FC;
}

#Rechercher img{
    padding: 10px;
    max-width: 25px;
    border: 1px solid grey;

}
