/* Parametres globaux de la page*/
body {
    font-family: "Raleway";
    margin: 0;

}

/* Parametres du menu */
#menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 32px;
    column-gap: 50px;
    padding-left: 50px ;
    padding-right: 50px ;

}

.push {
    margin-left: auto;
}

#menu a:link {
    text-decoration: none;
  }
  
#menu a:visited {
    text-decoration: none;
  }
  
#menu  a:hover {
    text-decoration: overline;
  }
  
#menu a:active {
    text-decoration: overline;
  }

.ButtonMenu1 a{
    font-weight: 600;
    color: #0065FC;
}

.ButtonMenu2 a{
    font-weight: 600;
}

.ButtonMenu3 a{
    font-weight: 900;
    color: #0065FC;
}


/* Parametres Text Header */
#Head {
    padding-left: 50px ;
    padding-right: 50px ;
}

#Head h1{
    margin-top: 30px;
    margin-bottom: -13px;
    font-size: 20px;
    font-weight: bolder;
}

#Head h2{
    font-size: 15px;
    font-weight: normal;
}

/* Parametres du block Rechercher*/
#Rechercher {   
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 50px ;
    padding-right: 50px ;
    
}

#Rechercher input{
    padding: 14px;
    font-size: 17px;
    font-weight: bold;
    border: 1px solid #F2F2F2;
    background: white;
}

#Rechercher button{
    padding: 14px;
    font-size: 17px;
    color: white;
    border: 0px solid white;
    border-radius: 0px 15px 15px 0px;
    background: #0065FC;
}


#Rechercher i{
    padding: 16px;
    max-width: 35px;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    background-color: #F2F2F2;
    
}

/* Parametres des filtres */
#Filtres {
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 50px;
    flex-wrap: wrap;
    padding-left: 50px ;
    padding-right: 50px ;
}

#Filtres h3 {
    font-size: 15px;
    font-weight: 900;
}

.TitreFiltres h2{
    font-size: 17px;
    font-weight: 900;
}

.ButtonFiltres {
    display: flex;
    align-items: center;
}

.IconFiltre {
    margin-left: -2px;
    padding: 15px;
    border-radius: 50%;
    background-color: #DEEBFF;
    width: 20px;
    height: 20px;
    text-align: center;
}

.IconFiltre i{
    color: #0065FC;
}

.TextFiltre {
    padding-left: 8px;
    padding-right: 15px;
}

.ButtonFiltres {
    border: 2px solid #F2F2F2;
    border-radius: 25px 25px 25px 25px;
}

#Info {
    margin-top: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 15px;
    padding-left: 50px ;
    padding-right: 50px ;
}

.InfoIcon {
    padding: 5px;
    border: 2px solid #F2F2F2;
    border-radius: 25px 25px 25px 25px;
}

.InfoIcon i{
    color: #0065FC;
}

/* Parametres des hebergements */

#Hebergement {
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    column-gap: 35px;
    padding-left: 50px ;
    padding-right: 50px ;
}

#Hebergement a:link {
    text-decoration: none;
    color: black;
  }
  
#Hebergement a:visited {
    text-decoration: none;
  }
  
#Hebergement  a:hover {
    text-decoration: none;
  }
  
#Hebergementu a:active {
    text-decoration: none;
  }

#Hebergement h2 {
    font-size: 20px;
    font-weight: bolder;
}

#Hebergement h4 {
    font-size: 18px;
    font-weight: bolder;
    margin-block-start: 5px;
    margin-block-end: 0px;
}

#Hebergement p {
    margin-block-start: 10px;
    margin-block-end: 10px;
}

.hebergementExemple {
    border: 2px solid #F2F2F2;
    border-radius: 25px 25px 25px 25px;
    background-color: #F2F2F2;
    padding: 25px;
    
}

#Hebergement .Note {
    padding-bottom: 8px;

}


#ContentHebergement {
    display: flex;
    flex-wrap: wrap;
    column-gap: 5%;
    row-gap: 25px;
}

.Annonce {
    display: flex;
    flex-direction: column;
    border: 5px solid white;
    border-radius: 25px 25px 25px 25px;
    background-color: white;
    width: auto;
    max-width: 27%;
    min-width: 220px;

    
}
.Annonce i {
    color: #0065FC;
}

.ImageAnnonce img{
    width: 100%;
    height: 110px;
    object-fit: cover;
    border-radius: 25px 25px 0px 0px;
}




/* Parametre  LES PLUS POPULAIRES*/
.hebergementPopulaire {
    border: 2px solid #F2F2F2;
    border-radius: 25px 25px 25px 25px;
    background-color: #F2F2F2;
    padding: 20px;
    min-width: 400px;
}

.hebergementPopulaire {
    display: flex;
    flex-direction: column;
    align-content: space-around;
}
.AnnoncePop {
    display: flex;
    border: 2px solid white;
    border-radius: 25px 25px 25px 25px;
    background-color: white;
    margin-bottom: 20px;
}

.ImageAnnoncePop img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 25px 0px 0px 25px;
}

.ContentAnnonce {
    flex-direction: column;
    padding-left: 10px;
    padding-right: 30px;
}

.AnnoncePop i {
    color: #0065FC;
}

/* Parametre  Activites*/

#Activites {
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 70px;
}

.ContentActivites {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
}

.AnnonceActiv {
    border: 5px solid white;
    border-radius: 25px 25px 25px 25px;
    background-color: white;
    width: auto;
    height: auto;
    max-width: 27%;
    min-width: 220px;
}


#Activites .Annonce {
    background-color: #F2F2F2;
}






#Activites a:link {
    text-decoration: none;
    color: black;
  }

#Activites a:visited {
    text-decoration: none;
  }

#Activites  a:hover {
    text-decoration: none;
  }
  
#Activites a:active {
    text-decoration: none;
  }







/* Parametre  Footer*/

#PageFooter {
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: flex-start;
}

.FooterBlock1 {
    display: flex;
    flex-direction: column;
    padding-right: 250px;
}

.FooterBlock2 {
    display: flex;
    flex-direction: column;
    padding-right: 250px;
}

.FooterBlock3 {
    display: flex;
    flex-direction: column;
}

#PageFooter a:link {
    text-decoration: none;
    color: black;
  }
  
#PageFooter a:visited {
    text-decoration: none;
  }
  
#PageFooter  a:hover {
    text-decoration: none;
  }
  
#PageFooter a:active {
    text-decoration: none;
  }

  #PageFooter a {
      padding-bottom: 10px;
  }

